$background: #F0F2F5;
$background-light: #F7F9FA;
$background-dark: #353535;
$dark: #333;
$gray: #ddd;
$gray-light: #eee;
$gray-hint: #555;
$blue-dark: rgb(27, 25, 67);
$light-primary: rgba(27, 25, 67, 0.3);
$text-white: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$red: #be2529;
$light-blue: #90cef1;
$dark-blue: #0f58a8;
$green: #029946;

$box-shadow-card: 0 20px 25px -15px $light-primary;
$box-shadow: inset 0 -1px 3px 1px rgba(0,0,0,.05);
$text-shadow: 2px 2px 2px $dark;
$title-shadow: 1px 1px 1px $dark-blue;

$border-card: 1px solid $gray;
$shadow-card: 0 20px 25px -15px rgba(27, 25, 67, 0.3);