@import "./assets/scss/_reset.scss";
@import "./assets/scss/_variables.scss";
@import "./assets/scss/_responsive.scss";




/* Scroll-Bar */
::-webkit-scrollbar {
    width: 1.25rem;
}
  
::-webkit-scrollbar-track {
    background: $gray-light;; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
    -webkit-box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset, -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
            box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset, -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}

::-webkit-scrollbar-thumb:hover {
    background: $gray-hint; 
}